/* css 처음에 세팅하는게 모지 */
*{
    margin: 0;
    padding: 0;
}

header{
    background-color: gray;
}
nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}
nav ul li {
    list-style: none;
    padding: 15px;
}
nav a {
    text-decoration: none;
    color: white;

    transition: all 0.5s linear;
}
nav a:hover{
    border-radius: 10%;
    letter-spacing: 4px;
    background-color: darkgray;
}

main{
    height: 1500px;
    padding:32px;
}

h1{
    font-size: 30px;
    font-family: "Gothic A1", sans-serif;
    margin: 20px 0;
}
#profile{
    width: 300px;
    height: 500px;
    border-radius: 5%;

    overflow: hidden;
}
#profile div{
    width: 300px;
    height: 300px;
    border-radius: 5%;

    overflow: hidden;
}

#profile img{
    width: 300px;
    transition: all 0.5s linear;    
}
#profile img:hover{
    width: 300px;
    transform: scale(1.2);
}
#profile p{
    display: none;
    font-size: 15px;
    font-family: "Gothic A1", sans-serif;
    margin: 18px 0;
}
#profile p.on{
    display: block;

}

/* 주제별 영역 */
#detail{
    /* margin-top: 200px; */
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.sub-title {
    font-size: 32px;
    font-family: "Gothic A1", sans-serif;
    margin: 30px 0 10px 0;
}
#detail li{
    list-style: none;
    font-size: 15px;
    font-family: "Gothic A1", sans-serif;
    margin: 18px 0;
}

#detail .skill li{
    list-style: none;
    font-size: 15px;
    font-family: "Gothic A1", sans-serif;
    margin: 0px 0;
}

a{
    text-decoration: none;
}
footer {
    padding: 40px;
    background-color: lightgray;
  }
  
  @media (max-width: 768px) {
    main {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .sub-container {
      display: block;
    }
  }
  